<div class="locales">
  <% %w(en nl es).each do |locale| %>
    <%= link_to image_tag("locales/#{locale}.gif"), url_for(params.merge(:locale => locale)), :class => ("selected" if locale == I18n.locale.to_s) %>
  <% end %>
</div>
<div class="content">
  <div class="left">

    <%= "application.index.header"   .t :tag => :h1   %>
    <%= "application.index.paragraph".t :as  => :html %>

    <h3>
      <%= "Place".t + " " + "comment".t %>
    </h3>

    <% semantic_form_for Comment.new, :url => "" do |form| %>
      <%= form.inputs :name, :email, :website, :message %>
      <%  form.buttons do %>
        <li>
          <%= submit_tag "Create".t %>
          <%= link_to    "Cancel".t %>
        </li>
      <% end %>
    <% end %>

  </div>
  <ul>
    <% ["Home", "Developers", "Comments", "Documentation", "Support", "About me"].each do |x| %>
    <li>
      <%= link_to x.t, "#" %>
    </li>
    <% end %>
    <li>
      <%= ["More".t, " ", "users".t].join "" %>
    </li>
  </ul>
</div>